# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# Database
server/campervan.db*
.env

# Sensitive & Binary Assets
server/campervan.db*
*.xlsx
*報告書*.pdf
*.zip
*.ttf
IMG_*.png
.env*
